.duas-page-container {
    font-family: 'Almarai', sans-serif;
}

.dua-content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    box-sizing: border-box;
    width: 100vw;
}

.dua-text {
    font-family: 'Almarai', sans-serif;
    max-width: 700px;
    word-wrap: break-word;
    white-space: normal;
    text-align: justify;
}

.dua-text.english {
    font-family: 'Inter Tight', sans-serif;
    font-size: 1.3rem;
    font-weight: lighter !important;
    text-align: justify;
    line-height: 2.2rem;
    width: 100%;
}

.dua-text.arabic {
    font-size: 1.3rem;
    direction: rtl;
    text-align: justify;
    line-height: 2.8rem;
}