.duas-page-container {
    font-family: 'Almarai', sans-serif;
}

.dua-content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    box-sizing: border-box;
    width: 100vw;
}

.dua-text {
    font-family: 'Almarai', sans-serif;
    max-width: 700px;
    word-wrap: break-word;
    white-space: normal;
    text-align: justify;
}

.dua-text.english {
    font-family: 'Inter Tight', sans-serif;
    font-size: 1.3rem;
    font-weight: lighter !important;
    text-align: justify;
    line-height: 2.2rem;
    width: 100%;
}

.dua-text.arabic {
    font-size: 1.3rem;
    direction: rtl;
    text-align: justify;
    line-height: 2.8rem;
}

.reference-section {
    margin-left: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    border-left: 3px solid black;
    background-color: #f9f9f9;
    max-width: 700px;
    box-sizing: border-box;
    text-align: justify;
}

.reference-block {
    margin: 1rem;
    margin-bottom: 1rem;
}

.reference-text {
    margin-top: 0px;
    margin-bottom: 4px;
    font-size: 1.1rem;
    line-height: 1.6;
    font-family: 'Inter Tight', sans-serif;
    color: #222;
}

.reference-source {
    font-size: 0.95rem;
    font-style: italic;
    color: #666;
    margin-top: 0rem;
}